header{
background-color: #dabedf;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f3e8ff;
    color: #333333;
}

img {
    max-width: 220px;
    height: auto;
}


figcaption{
    font-size: 4pt;
    color: #666;
    margin-top: 2px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.card {
    flex: 1 1 30%;
    background-color: #dabedf;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    color: #333333;
     flex-direction: row;
      flex: 0 0 30%;
}

#first,
#intro,
#resturant1,
#resturant2,
#resturant3{
    text-align: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}